<div id="checklist"></div>
<script src="<%= Redmine::Utils.relative_url_root %>/plugin_assets/check_list/javascripts/index.js"></script>
<link rel="stylesheet" href="<%= Redmine::Utils.relative_url_root %>/plugin_assets/check_list/stylesheets/index.css">
